.searchBar{
  padding: torem(6) torem(12);
  text-indent: torem(20);
  border-radius: torem(10);
  border-style: $border-style;
  border-width: $border-width;

  &::placeholder{
    text-indent: torem(20);
    color: $erp-gray-500;
  }

  &:focus{
    text-indent: torem(20);
  }

}